<div class="wrapper">

  <header role="banner" class="header">

    {% if main_menu %}
      <nav class="main-menu" role="navigation">
        {{ main_menu }}
      </nav>
    {% endif %}

    {% if secondary_menu %}
      <nav class="secondary-menu" role="navigation">
        {{ secondary_menu }}
      </nav>
    {% endif %}

  </header>

  {% if messages %}
    <section class="messages">
      {{ messages }}
    </section>
  {% endif %}

  {% if page.help %}
    {{ page.help }}
  {% endif %}

  <main role="main" class="main-content clearfix">

    {{ page.content }}

  </main>

</div>
